html{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height:100vh ; 
}


body{
    display: flex;
    flex-direction: column;
    gap:200px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;   
}

*, *::before, *::after {
    box-sizing: border-box;
}
    
/* MAIN STRUCTURE*/
#boxCentralGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#centralGrid{ 
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr auto auto ;
    width:1110px;
    height: 1154px;
    padding: 0
}

    #boxMainText{
        display: flex;
        flex-direction: row;
        grid-area: 1/1/2/-1;
        width:100%;
        height: 100%;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    #mainText{
        width:350px;
        height: 276px;
    }

    #imgTop{
        width:635px;
        height:400px;
    }

    #imgTop img{
        width:100%;
        height: 100%;
        margin-right: 0;
    }

    #imgRight{
        grid-area: 2/3/3/4;
        width:435px;
        height:313px;
        justify-self: end;  
    }

    #imgRight img{
        width:100%;
        height: 100%;

    }

    #mainText2{
        grid-area: 3/3/4/4;
        width:435px;
        height: 377;
        background-color: black;
        justify-self: end;
    }

    #imgBottom{
        grid-area: 2/1/4/3;
        width:635px;
        height: 725px;
    }

    #imgBottom img{
        width:100%;
        height: 100%;
    }

/* FOOTER */

footer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center ;
    background-color: black;
    height: fit-content;
    padding: 80px 165px 80px 165px ;  
}

    #footerLogo {
        display:flex;
        flex-direction:row;
        height: 75px;
        width: 730px;
        justify-content: space-between;
        padding: 0;
    }

    #footerLogo img{
        height: 58px;
        width: 159.57px;
    }

    #social{
        display:flex;
        width:100px;
        justify-content: space-between;
        align-self: start;
    }

    #social img{
        height:20px;
        width:20px
    }

/* FONT */

#boxLocationButton a #spanText{
        width:auto;
        white-space: nowrap;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 3.64px;
    }

    #boxLocationButton p{
        font-size: 22px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight:100;
        font-style: normal;
    }

    #mainText p{
        font-size: 22px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight:100;
        font-style: normal;
        margin:0
    }

    #mainText h2{
        font-size: 60px;
        font-family: "Big Shoulders", sans-serif;
        font-optical-sizing: auto;
        font-weight: "SemiBold" 600;
        font-style: normal;
        margin-bottom:32px
    }

    #mainText2 p{
        color: white;
        font-size: 22px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight:100;
        font-style: normal;
        margin: 0 48px 62px 48px ;
    }

    #mainText2 h2{
        color: white;
        font-size: 60px;
        font-family: "Big Shoulders", sans-serif;
        font-optical-sizing: auto;
        font-weight: "SemiBold" 600;
        font-style: normal;
        margin: 64px 48px 32px 48px ;     
    }

    #footerLogo p{
        color: white;
        height:75px;
        max-width: 430px;
        width:100%;
        margin: 0;
        font-size:18px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight:100;
        font-style: normal;
    }

    /* PAGE LOCATION  */

        /* main structure */
        
            #location{
                display: flex;
                flex-direction: column;
                gap: 0; 
                min-height: fit-content!important;
                max-width: 100%;
                background-color:black;
                margin:0!important;
                padding: 0 !important;

            }

             /* other components*/

             #map img{
                width: 100%;
                height:auto;
             }

               #addressBox{
                    display: flex;
                    background-color: black;
                    color: white;
                    padding:130px 165px 130px 165px;
                    justify-content: space-between;
                }

                #addressh1{
                    width:350px;
                    height:fit-content;
                    
                }

                #addressh1 h1{
                    width: 100%;
                    height: 100%;
                    font-size: 70px;
                    margin: 0;
                    font-family: "Big Shoulders", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: "SemiBold" 600;
                    font-style: normal;
                }
                
                #address{
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;  
                    padding: 0 !important; 
                }

                #addressBox{
                    height: fit-content;
                }

                #addressBox p,address{
                    width: 540px;
                }

                #address p{
                    font-size: 22px;
                    margin-top: 0;
                    line-height: 1.5 !important; 
                }

                 #address>p>span{
                    color:#D5966C ;
                    font-size: 36px;
                    font-family: "Big Shoulders", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: "SemiBold" 600;
                    font-style: normal;
                    margin-top: 0;
                    line-height: 2;  
                    
                }

                /* button */

              #map a{
                position: absolute;
                top: 16px;
                left:156px;
                display: flex;
                background-color: black;
                color: white; 
                align-items: center; 
                width: fit-content !important;
                height: 72px; 
                margin:0;
                padding-left: 34px;
                padding-right: 0;
                border: none;
                line-height: 1 !important; 
                text-decoration: none;
                }

                #map a #spanImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #D5966C;
                    height: 103%; 
                    min-width: 56px;  
                    margin-left: 38px;
                    margin-right: 0 !important;
                }

                #map a #spanImg > img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }

                /* footer location */

                #footerLocation{
                    background-color: #D5966C; 
                }

    /* Adaptive screen */

    

    @media(max-width:1920px){
        #landingPage{
            position: relative;
            display: grid;
            grid-template-columns: auto auto 449.81px;
            grid-template-rows: 800px;
            width: 100%; 
            height:800px; 
            z-index: 1;
        }

        /* landing page component */

        .fix_size{
            height:100%;
        }

        #black{
            position:relative;
            background-color: black;
            overflow: hidden;
        }

        #logoLight{
            position:absolute;
            height:146.79px;
            width: 410px !important;
            top: 189px;
            left: 201.11px;
            width:500px; 
            margin: 0;
            padding: 0;    
        }

        #logoDark{
            position:absolute;
            height:146.79px !important;
            width: 425px !important;
            top: 189px;
            left: clamp(-267px, calc(-267px + (1919px - 100vw) * 0.53), 0px);
            transition: left 0.3s ease;
            width:500px; 
            margin: 0;
            padding: 0;
        }

        #logoLight img{
            width:100%;
            height:100%;   
        }

        #logoDark img{
            width:100%;
            height:100%;
        }

        #picture{
            position:relative;
            height:100%;
            z-index: -1;
        }

        #picture img{
            height:100%;
            width: 100%;
            object-fit: cover;
        }

        #white{
            background-color: white;
            z-index: -2;
        }

        #boxLocationButton{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            top:31%;
            left:88%;
            height:291px;
            width: 350px;
            padding: 0;
            margin: 0;
            z-index: 10;
        }

        #boxLocationButton a{
            display: flex;
            background-color: black;
            color: white; 
            align-items: center; 
            width: fit-content !important;
            min-height: 72px; 
            margin:0;
            padding-left: 34px;
            padding-right: 0;
            border: none;
            line-height: 1 !important; 
            text-decoration: none;
            
        
        }

        #boxLocationButton a #spanImg{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #D5966C;
            height: 72px !important; 
            min-width: 56px;  
            margin-left: 38px;
            margin-right: 0 !important;
        }

        #boxLocationButton a #spanImg > img {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
    

    }

    @media(max-width:1440px){

        /* LANDING PAGE STRUCTURE*/

        #landingPage{
            position: relative;
            display: grid;
            grid-template-columns: auto 540.38px 449.81px;
            grid-template-rows: 800px;
            width: 100%; 
            height:800px; 
        }

            /* landing page component */

            .fix_size{
                height:100%;
            }

            #black{
                position:relative;
                background-color: black;
                overflow: hidden;
            }

            #logoLight{
                position:absolute;
                height:146.79px;
                width: 410px !important;
                top: 189px;
                left: 196.11px;
                width:500px; 
                margin: 0;
                padding: 0;    
            }

            #logoDark{
                position:absolute;
                height:146.79px !important;
                width: 425px !important;
                top: 189px;
                left: clamp(-246px, calc(-246px + (1440px - 100vw) * 1.04), 0px);
                transition: left 0.3s ease;
                width:500px; 
                margin: 0;
                padding: 0;
            }

            #logoLight img{
                width:100%;
                height:100%;   
            }

            #logoDark img{
                width:100%;
                height:100%;
            }

            #picture{
                position:relative;
                height:100%;
                z-index: -1;
            }

            #picture img{
                height:100%;
                width: 100%;
                object-fit: cover;
            }

            #white{
                background-color: white;
                z-index: -2;
            }

            #boxLocationButton{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content:space-between;
                top:31%;
                left:88%;
                height:291px;
                width: 350px;
                padding: 0;
                margin: 0;
                z-index: 2;
            }

            #boxLocationButton a{
                display: flex;
                background-color: black;
                color: white; 
                align-items: center; 
                width: 260px;
                height: 72px; 
                margin:0;
                padding-left: 34px;
                border: none;
                line-height: 1 !important; /* evita spazio verticale extra */
            }

            #boxLocationButton a #spanImg{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #D5966C;
                height: 103%; 
                min-width: 56px;  
                margin-left: 32px;
                margin-right: 0;
                
            }

            #boxLocationButton a #spanImg > img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
                #footerLogo{
                    max-width: 730px;   
                }

                #social{
                    min-width: 100px;
                } 
    }

    @media(max-width:1350px){
        #footerLogo,#social{
            width:100%
        }

         #social{
            width:auto
         }
    }
    

    @media(max-width:1300px){

        #social{
            min-width: 100px;
        }
        #mainText p{
        font-size: 20px;
        }

        #mainText h2{
            font-size: 50px;
        }

        #mainText2 p{
            font-size: 20px;
        
        }

        #mainText2 h2{
            font-size: 50px;      
        }
    }

    @media(max-width:1150px){
        #logoDark{
            margin-left: 10px;
        }

        #boxCentralGrid{
         padding-left: 30px;
         padding-right: 30px !important;
        }

        #centralGrid{
            width: 100%;
            height: 100%;
            gap: 20px;
            box-sizing: border-box;   
        }

       #imgRight,#imgBottom,#mainText2{ 
            width:100%;
            height: 100%;  
        }

        #imgTop{
            width:550px;
            height: 100%;    
        }

        #mainText2{
        grid-area: 3/3/4/4;
        width:300px;
        height: 377;
        background-color: black;
        justify-self: end;
        }

        * {
            box-sizing: border-box;
        }

    }   

    @media(max-width:1250px){
        #social{
            margin-left: 60px;
        }
    }
    @media(max-width:1150px){
            #footerLogo p{
                margin-left: 60px;
                height:auto;
            }
            #footerLogo{
                height:auto;
            }

            #boxMainText{
                justify-content: space-between;
                padding-left: 0;
            }
            #mainText #imgTop{
                margin-left: 0;
            }
    }

    @media(max-width:1010px){
            #social{
                margin-right: 60px;
            }

            footer{
                padding-left: 40px;
            }

            #mainText{
                margin-left:20px;
                height: fit-content;
               
            }
    }

    @media(max-width:900px){

        #logoDark{
            display: none;  
        }

        #logoDark2{
            
            width:100% !important;
            height:100% !important;
        }

        #logoDark2 img{
            width:100%;
            height:100%!important
        }

        #mainText p{
            font-size: 18px;
        }

        #mainText h2{
            font-size: 50px;
        }

        #mainText2 p{
            font-size: 18px;
        }

        #mainText2 h2{  
            font-size: 50px;      
        }

        #boxLocationButton {
            gap: 32px;
            min-height: 100%; 
            width:100%
            top:25%;
            left:88%;
        }

        #boxLocationButton p{
          font-size: 18px; 
          max-width: 260px !important; 
        }

        #boxLocationButton a{
          min-height: 72px;
        }
     
    }

    @media(max-width:850px){
         #boxLocationButton {
            gap: 32px;
            min-height: 100%; 
            width:100% ;
        }

        #logoDark2{
            display:block;
            width:100% !important;
            height:100% !important;
        }

        #logoDark2 img{
            width100%;
            height:100%!important
        }

        footer {
            padding-right: 60px !important;
            padding-left: 40px; /* o quanto vuoi */
            box-sizing: border-box;
        }

        #footerLogo {
            width: auto;
            max-width: 70%;
        }

        #social {
            min-width: 100px;
        }

    }

       @media(max-width:760px){

            body{
                height:fit-content;
                margin-top: 0 !important;
                gap:100px
            }

            #landingPage{
                height:auto;
                min-height:100%;
                overflow: visible !important;
            }

            #black{
                display: none;
            }
      
            #logoLight,#logoDark,#logoDark2,
            #boxLocationButton,#picture,
            #black,#white {
                position: static !important;
            }               
        
            #landingPage,#centralGrid,
            #boxMainText,footer,#footerLogo,#picture{
                display: flex ;
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }

             #boxLocationButton{
                height: 100%;
                align-self: start;
                width:fit-content;
                margin-left: 20px;
            }

             #boxLocationButton a{
                min-height: 72px;
                margin-top: 0;       
            }

            #boxLocationButton p{
                margin-top: 0;
                margin-bottom: 0;
                min-width: 420px;
                font-size: 18px;
            }

            #logoDark2{
                min-width:fit-content;
                min-height:fit-content;
                margin-bottom: 20px;
            }

            #logoDark2 img{
                min-width:145px !important;
                min-height:145px !important;
            }

            #picture img{
                overflow: visible;
            }

            /* CENTRAL GRID  */

            #boxCentralGrid{
                width: 100%;
                padding:20px
            }

            .fit{
                min-width:100%;
                margin-top: 0 
            }

            #imgTop{
                margin: 0; 
                object-fit: cover;
                width:auto;
            }

            #boxMainText #imgTop img{
                margin: 0;  
                object-fit: cover; 
            }

            #boxMainText{
                padding-bottom:0;
            }
            #boxMainText p{
                max-width: 320px;   
            }

            #mainText{
                height:fit-content
            }

            #mainText h2{
                margin-top: 0;
            }

            #mainText p{
                margin-bottom: 0 !important;
            }
            #imgRight{
                margin-top: -30px;
            }  

            /* FOOTER */

            footer{
                height: fit-content;
                align-items: flex-start;
                padding:0 !important;   
            }

            #footerLogo{
                height:100%;
                margin: 0;
                margin-top: 20px;
                align-items: flex-start;
                margin: 20px 0 0px 60px;
            }

            #footerLogo p{
                margin: 0;
                width:100%;
            }

            #social{
                margin: 0 0 20px 60px;
                align-self: flex-start;
                margin-bottom: 20px !important;
            }

            @media(max-width:550px){

                 #logoDark2 img{
                min-width:120px!important;
                min-height:120px !important;
            }

            #boxLocationButton p{
               height:100%;
               min-width: 100%;
               
            }

            footer{
                overflow: visible !important;
                min-height: fit-content;

            }

            }


            @media(max-width:450px){

                 #logoDark2 img{
                min-width:100px!important;
                min-height:100px !important;
                }
                
               #footerLogo p {
                    max-width: 300px !important;
                }

                 footer{
                    padding: 40px 10px 40px 10px !important;
                    height:100% !important;
                    padding-bottom:60px !important;
                    overflow: visible !important;
                }

         
                #footerLogo {
                    max-width: 100%;
                   
                }
                
                #social {
                    min-width: 0;
                    max-width: 100%;
                    
                }

            }
            
                
              @media(max-width:370px){

                 #logoDark2 img{
                    min-width:80px!important;
                    min-height:80px !important;
                }
                #boxLocationButton{
                    max-width:100% !important;
                    margin-left: 20px;
                }

                #logoDark2{
                    max-width:100% !important;
                }

                  #logoDark2 img{
                    object-fit: contain;
                }

                  #landingPage {
                    padding-left: 20px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    align-items: flex-start; /* impedisce il centramento */
                }

            /* logo mobile */
                #logoDark2 {
                    width: auto;
                    display: block;
                    margin-bottom: 20px;
                }

                #logoDark2 img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }

            /* testo paragrafo */
                #text {
                    margin-bottom: 20px;
                }

                /* bottone */
                button {
                    margin-bottom: 20px;
                }
            }


    /* ADAPTIVE SCREEN LOCATION */

    @media(max-width:1920px){
html{
            max-height: fit-content!important;
        }
        #location{
            max-height: fit-content!important;
        }
        #map img{
                width: fit-content;
                max-height:800px;
             }
    }

     @media(max-width:1440px){

        #map img{
                width: 1440px;
                
             }
    
                #addressBox h1{
                   max-width: 50px;
                }

            }

            @media(max-width:1280px){
                 #addressBox{
                    padding:130px 100px 130px 100px;
                }
            }

            @media(max-width:1150px){
                #map a{
                    left:100px
                }

                #map {
                    margin-left: -150px;
                    height: 100%;
                } 
                
                 #addressBox{
                    font-size: 55px;
                    padding:130px 150px 130px 150px;
                    gap: 10px;
                }

                 #address p{
                    font-size: 18px;
                    margin-top: 0;
                    line-height: 1.5 !important; 
                    width: 300px;
                }

               
            }

            @media(max-width:1000px){

                #map {
                    margin-left: -250px;
                } 

                #map a{
                    left:80px
                }

                 #addressh1 h1{
                    font-size: 55px;
                }

                #addressBox{
                    font-size: 55px;
                    padding:130px 100px 130px 100px;
                    gap: 10px;
                }   
            }

            @media(max-width:900px){

                #map {
                    margin-left: -300px;
                } 

                #map a{
                    left:36px
                }
                 #addressh1 h1{
                    font-size: 55px;
                }

                #addressBox{
                    font-size: 55px;
                    padding:130px 70px 130px 70px;
                    gap: 10px;
                }   
            }

            @media(max-width:800px){

                #map {
                    margin-left: -380px;
                } 

            }  

            @media(max-width:700px){

                #map {
                    margin-left: -430px;
                } 

                #location{
                   max-height: 100% !important;
                    margin: 0;
                    padding: 0;

                }
                #addressBox{
                    display: flex;
                    flex-direction: column;
                    max-height: fit-content;
                }

                #addressBox h1{
                    max-width: 350px;
                }
            }

              @media(max-width:400px){

                #map {
                    margin-left: -530px;
                } 

                #addressBox h1{
                   font-size: 48px;
                }

                #addressBox p{
                    max-width: 260px;
                }
            }

    
